{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 150,
  "tabWidth": 4,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "useTabs": false
}